<html>
  <body>
    <p><%= @cleanup.neighborhood %></p>
    <p><%= @cleanup.location %></p>
    <p><%= @event.time %></p>
    <table>
      <thead>
        <tr>
          <th>Merchant</th>
          <th>Details</th>
        </tr>
      </thead>
      <tbody>
        <%= for promo <- @cleanup.promotions |> Enum.filter(&(!&1.is_disabled)) do %>
          <tr>
            <td><%= promo.merchant %></td>
            <td><%= promo.details %></td>
          </tr>
        <% end %>
      </tbody>
    </table>
  </body>
  <div class="modal modal-open" id="promo-modal">
    <div class="modal-box">
      <a href="https://link.heylo.co/eAJ7">
        <img class="mx-auto" src="/images/volunteer-appreciation-day.webp" alt="Volunteer Appreciation Party">
      </a>
        <h2 class="text-center font-bold text-lg">🥳 Volunteer Appreciation Party 🥳</h2>
        <p class="py-4">Come out to Dolores Park Saturday, December 7 1-4pm, for a party to celebrate everyone working across San Francisco to clean up the city! Register <a href="https://link.heylo.co/eAJ7"> here</a>.</p>
        <div class="modal-action">
            <button class="btn" onclick="document.getElementById('promo-modal').classList.remove('modal-open')">Close</button>
        </div>
    </div>
  </div>
</html>
