<.header>
  Edit Event <%= @event.id %>
  <:subtitle>Use this form to manage event records in your database.</:subtitle>
</.header>

<.event_form changeset={@changeset} cleanups={@cleanups} action={~p"/organizer/events/#{@event}"} />

<.back navigate={~p"/organizer/events"}>Back to events</.back>
