<.header>
  New Event
  <:subtitle>Use this form to manage event records in your database.</:subtitle>
</.header>

<.event_form changeset={@changeset} action={~p"/organizer/events"} />

<.back navigate={~p"/organizer/events"}>Back to events</.back>
