<.header>
  Event <%= @event.id %>
  <:subtitle>This is a event record from your database.</:subtitle>
  <:actions>
    <.link href={~p"/organizer/events/#{@event}/edit"}>
      <.button>Edit event</.button>
    </.link>
  </:actions>
</.header>

<.list>
  <:item title="Time"><%= @event.time %></:item>
</.list>

<a href={~p"/organizer/events/poster/#{@event}"}>Poster</a>

<.back navigate={~p"/organizer/events"}>Back to events</.back>
