<.header>
  New Promotion
  <:subtitle>Use this form to manage promotion records in your database.</:subtitle>
</.header>

<.promotion_form changeset={@changeset} action={~p"/promotions"} />

<.back navigate={~p"/promotions"}>Back to promotions</.back>
