<.header>
  Promotion <%= @promotion.id %>
  <:subtitle>This is a promotion record from your database.</:subtitle>
  <:actions>
    <.link href={~p"/promotions/#{@promotion}/edit"}>
      <.button>Edit promotion</.button>
    </.link>
  </:actions>
</.header>

<.list>
  <:item title="Merchant"><%= @promotion.merchant %></:item>
  <:item title="Details"><%= @promotion.details %></:item>
</.list>

<.back navigate={~p"/promotions"}>Back to promotions</.back>
