<.flash_group flash={@flash} />
<div class="hero min-h-screen" style="background-image: url(/images/mannys-cleanup.jpeg);">
  <div class="hero-overlay bg-opacity-60"></div>
  <div class="hero-content text-center text-neutral-content">
    <div class="max-w-md">
      <h1 class="mb-5 text-5xl font-bold">Clean Up The City</h1>
      <p class="mb-5">San Franciscans taking action to build community, beautify our public spaces, and improve the best city in the world!</p>
      <p class="mb-5">Join us at one our neighborhood cleanups.</p>

      <ul>
        <li><a class="link" href="https://www.heylo.com/event/1fca05d6-0385-4a97-bd95-9cd69bd1f6fd?inviteId=991a649a-9d16-4da0-a53c-630db7b83ab7">Bayview (All Good Pizza)</a></li>
        <li><a class="link" href="https://www.heylo.com/event/0487b44f-fd0a-4428-bc0a-0e338b8d13d7?inviteId=74d7e530-1c22-4c39-8053-663637c35ded">Bayview (Gratta Wines)</a></li>
        <li><a class="link" href="https://www.heylo.com/event/6f546e73-ff00-4901-985a-2520f42cca92?inviteId=6049250f-d233-43c0-80eb-76a92caaf923">Fillmore</a></li>
        <li><a class="link" href="https://www.heylo.com/event/194e7abd-a80f-4261-814d-ee3d4548e528?inviteId=f174bd43-b194-47c6-a314-09379ccd82b5">Hayes Valley</a></li>
        <li><a class="link" href="https://www.heylo.com/event/cbc6c77c-a11e-44dc-946b-a605353388c2">Ingleside</a></li>
        <li><a class="link" href="https://www.heylo.com/event/65572e46-f7f1-413c-a25a-6da298b93198?inviteId=e8c6bda6-9a57-4f06-8705-84e03aa9e11c">Lower Nob Hill</a></li>
        <li><a class="link" href="https://www.heylo.com/event/65572e46-f7f1-413c-a25a-6da298b93198?inviteId=e8c6bda6-9a57-4f06-8705-84e03aa9e11c">Lower Polk</a></li>
        <li><a class="link" href="https://www.heylo.com/event/4a324264-b60b-4736-8746-883b3c00d1b3">Mission (Manny's)</a></li>
        <li><a class="link" href="https://www.heylo.com/event/5be47390-38c6-4491-8eea-3035b0c3e46c?inviteId=183959bd-3b71-47d4-901e-51e3127e748c">Ocean Beach</a></li>
        <li><a class="link" href="https://www.heylo.com/event/6c171047-ed21-4bf5-b795-6a6476261c8f?inviteId=7741e4c4-c50c-49f0-beae-bbb68f10abeb">South Mission</a></li>
      </ul>
    </div>
  </div>
</div>
