<.flash_group flash={@flash} />
<div class="hero min-h-screen" style="background-image: url(/images/mannys-cleanup.jpeg);">
  <div class="hero-overlay bg-opacity-60"></div>
  <div class="hero-content text-center text-neutral-content">
    <div class="max-w-md">
      <h1 class="mb-5 text-5xl font-bold">Clean Up The City</h1>
      <p class="mb-5">San Franciscans taking action to build community, beautify our public spaces, and improve the best city in the world!</p>
      <p class="mb-5">Join us at one our neighborhood cleanups.</p>

      <ul>
        <li><a class="link" href="https://app.heylo.co/events/3456bba6-49d5-4a61-bb1c-ee44a8262404/651d83bc-14d3-42da-b004-56e941e0efe3?inviteId=57b5eeff-55ac-4cc3-97e7-f52bb7798474">Bayview (All Good Pizza)</a></li>
        <li><a class="link" href="https://app.heylo.co/events/3456bba6-49d5-4a61-bb1c-ee44a8262404/2cd96f70-7cdd-4184-9291-d5934c04031a?inviteId=6821fe42-3fab-4fb8-a83f-72d57b4d1b9b">Bayview (Gratta Wines)</a></li>
        <li><a class="link" href="https://app.heylo.co/events/3456bba6-49d5-4a61-bb1c-ee44a8262404/48036cd9-6bf3-4976-9790-4848facaf3b0?inviteId=b8688ad6-dfd9-4010-9956-1755406414ac">Fillmore</a></li>
        <li><a class="link" href="https://app.heylo.co/events/3456bba6-49d5-4a61-bb1c-ee44a8262404/b6ab03c5-3e1f-4688-9769-3d9bab8b6d0d?inviteId=7de5a7b9-2601-42b4-8e94-e173136c1e03">Hayes Valley</a></li>
        <li><a class="link" href="https://app.heylo.co/events/3456bba6-49d5-4a61-bb1c-ee44a8262404/2e1b89a7-1d77-49f0-a04e-8e4e09988035?inviteId=9dd86e37-49d4-4fed-a021-8eba2fde1ae0">Ingleside</a></li>
        <li><a class="link" href="https://app.heylo.co/events/3456bba6-49d5-4a61-bb1c-ee44a8262404/c9a18c2d-e366-467c-b3b4-194576d18d0f?inviteId=0a4cb2e6-bd2f-45df-9e4a-99d376930c21">Lower Nob Hill</a></li>
        <li><a class="link" href="https://app.heylo.co/events/3456bba6-49d5-4a61-bb1c-ee44a8262404/42755071-f577-4cc9-8d69-cd811fad0eec?inviteId=bdae443f-148c-471c-8b12-555d2bc29b07">Lower Polk</a></li>
        <li><a class="link" href="https://app.heylo.co/events/3456bba6-49d5-4a61-bb1c-ee44a8262404/6340f276-5c5a-404d-8c81-f8d8bcdab852?inviteId=a2307ffb-bb0e-4485-a12d-77e7020c0d75">Mission (Manny's)</a></li>
        <li><a class="link" href="https://app.heylo.co/events/3456bba6-49d5-4a61-bb1c-ee44a8262404/ff4a79c2-28f5-44d1-b458-68fb31e61648?inviteId=8440a1b3-2cfa-4304-95e5-0f841bc4d4dc">Ocean Beach</a></li>
        <li><a class="link" href="https://app.heylo.co/events/3456bba6-49d5-4a61-bb1c-ee44a8262404/66a8f151-5b58-4fb1-9981-f48d4006b010?inviteId=0851924b-7098-4786-87a6-d13b180e10cf">South Mission</a></li>
        <li><a class="link" href="https://app.heylo.co/events/3456bba6-49d5-4a61-bb1c-ee44a8262404/91ffa178-c3a5-4de6-b3b8-1a9e2e5ff4f7?inviteId=ba028711-b103-4b71-a9a1-45f1832c1d20">West SOMA</a></li>
      </ul>
    </div>
  </div>
</div>
