<.flash_group flash={@flash} />
<div class="hero min-h-screen" style="background-image: url(/images/mannys-cleanup.jpeg);">
  <div class="hero-overlay bg-opacity-60"></div>
  <div class="hero-content text-center text-neutral-content">
    <div class="max-w-md">
      <h1 class="mb-5 text-5xl font-bold">Clean Up The City</h1>
      <p class="mb-5">San Franciscans taking action to build community, beautify our public spaces, and improve the best city in the world!</p>
      <p class="mb-5">Join us at one our neighborhood cleanups.</p>

      <ul>
        <li><a class="link" href="https://link.heylo.co/ELDD">Bayview (All Good Pizza)</a></li>
        <li><a class="link" href="https://app.heylo.co/events/3456bba6-49d5-4a61-bb1c-ee44a8262404/a02b07cc-df63-410b-94ef-0c6eb6725acf?inviteId=a18e4e14-14be-442c-8db6-4dc02befb9a9">Bayview (Gratta Wines)</a></li>
        <li><a class="link" href="https://app.heylo.co/events/3456bba6-49d5-4a61-bb1c-ee44a8262404/5a3ecae7-11d0-4db7-b61f-6d591fa49c39?inviteId=c1fe2936-365d-4df3-a9c2-9efa877508a1">Fillmore</a></li>
        <li><a class="link" href="https://app.heylo.co/events/3456bba6-49d5-4a61-bb1c-ee44a8262404/b7b80e90-99e6-432d-9e3e-5d5eb213bfde?inviteId=e538edcc-ce20-46e1-bbda-bd736a9b2fc6">Hayes Valley</a></li>
        <li><a class="link" href="https://app.heylo.co/events/3456bba6-49d5-4a61-bb1c-ee44a8262404/547911d5-4c9e-4778-a3a7-161ea95b2677?inviteId=b2549c15-ce77-4449-bcd8-c5671eb8bfbe">Ingleside</a></li>
        <li><a class="link" href="https://app.heylo.co/events/3456bba6-49d5-4a61-bb1c-ee44a8262404/605464a7-41a6-47c0-a8fe-41663c5a7c72?inviteId=c7fcb6f9-1079-49bf-b881-da927bf10503">Lower Nob Hill</a></li>
        <li><a class="link" href="https://app.heylo.co/events/3456bba6-49d5-4a61-bb1c-ee44a8262404/409b1629-a16b-43ee-a8db-46b96c4b814e?inviteId=9cf40704-d8b5-4478-a044-83249a7313c5">Lower Polk</a></li>
        <li><a class="link" href="https://app.heylo.co/events/3456bba6-49d5-4a61-bb1c-ee44a8262404/3e73db4a-fcc4-4ee1-b1ef-7967117b3581?inviteId=10244e15-fd11-41a0-82d9-877dcedf7105">Mission (Manny's)</a></li>
        <li><a class="link" href="https://app.heylo.co/events/3456bba6-49d5-4a61-bb1c-ee44a8262404/9a9e200f-1cca-459b-8f2e-1e286f0c3edf?inviteId=25622549-93b1-4c4d-bce6-9275a7e66a89">Ocean Beach</a></li>
        <li><a class="link" href="https://app.heylo.co/events/3456bba6-49d5-4a61-bb1c-ee44a8262404/e3a0ede2-a272-4b35-b84a-5373d6267991?inviteId=3e5fee89-7504-4a25-b428-247664c70054">South Mission</a></li>
      </ul>
    </div>
  </div>
</div>
