<p>Thanks for helping to organize weekly trash cleanups!</p>

<p>See the <a class="link" href="https://docs.google.com/document/d/10VjtTvdaEFg2AmqdB7rIcDVJOMLVMZ54ru4R4_-AH-Y/edit#heading=h.uxf68f600j20">playbook</a> for details on the organizer process.</p>
