<p>Thanks for helping to organize weekly trash cleanups!</p>

<p>As an organizer you are responsible for:</p>

<ul>
  <li>
    Preparing the site. Show up 15 minutes before the start of the event to
    set up the table, etc.
  </li>
  <li>
    Instruct the participants on how the cleanup works.
  </li>
</ul>

If you have any questions, contact Vincent, Eric, or Manny.
