<.header>
  Edit Event participant <%= @event_participant.id %>
  <:subtitle>Use this form to manage event_participant records in your database.</:subtitle>
</.header>

<.event_participant_form changeset={@changeset} action={~p"/organizer/events/#{@event_participant.event_id}/event_participants/#{@event_participant}"} />

<.back navigate={~p"/organizer/events/#{@event_participant.event_id}"}>Back to event</.back>
