<.header>
  New Event participant
</.header>

<.event_participant_form changeset={@changeset} action={~p"/organizer/events/#{@event_id}/event_participants"} />

<.back navigate={~p"/organizer/events/#{@event_id}"}>Back to event</.back>
