<.header>
  New Event participant
  <:subtitle>Use this form to manage event_participant records in your database.</:subtitle>
</.header>

<.event_participant_form changeset={@changeset} action={~p"/organizer/event_participants"} />

<.back navigate={~p"/organizer/event_participants"}>Back to event_participants</.back>
