<.header>
  New Cleanup organizer
  <:subtitle>Use this form to manage cleanup_organizer records in your database.</:subtitle>
</.header>

<.cleanup_organizer_form changeset={@changeset} action={~p"/cleanup_organizers"} />

<.back navigate={~p"/cleanup_organizers"}>Back to cleanup_organizers</.back>
