<.header>
  Edit Cleanup <%= @cleanup.id %>
</.header>

<.cleanup_form changeset={@changeset} action={~p"/organizer/cleanups/#{@cleanup}"} />

<.back navigate={~p"/organizer/cleanups"}>Back to cleanups</.back>
