<.header>
  Edit Cleanup <%= @cleanup.id %>
  <:subtitle>Use this form to manage cleanup records in your database.</:subtitle>
</.header>

<.cleanup_form changeset={@changeset} action={~p"/organizer/cleanups/#{@cleanup}"} />

<.back navigate={~p"/organizer/cleanups"}>Back to cleanups</.back>
