<.header>
  Edit Event participant promotion <%= @event_participant_promotion.id %>
  <:subtitle>Use this form to manage event_participant_promotion records in your database.</:subtitle>
</.header>

<.event_participant_promotion_form changeset={@changeset} action={~p"/event_participant_promotions/#{@event_participant_promotion}"} />

<.back navigate={~p"/event_participant_promotions"}>Back to event_participant_promotions</.back>
