<.simple_form :let={f} for={@changeset} action={@action}>
  <.error :if={@changeset.action}>
    Oops, something went wrong! Please check the errors below.
  </.error>
  <.input field={f[:is_claimed]} type="checkbox" label="Is claimed" />
  <:actions>
    <.button>Save Event participant promotion</.button>
  </:actions>
</.simple_form>
