<.header>
  New Event participant promotion
  <:subtitle>Use this form to manage event_participant_promotion records in your database.</:subtitle>
</.header>

<.event_participant_promotion_form changeset={@changeset} action={~p"/event_participant_promotions"} />

<.back navigate={~p"/event_participant_promotions"}>Back to event_participant_promotions</.back>
