<ul class="relative z-10 flex items-center gap-4 px-4 sm:px-6 lg:px-8 justify-end">
  <%= if @current_user do %>
    <li class="text-[0.8125rem] leading-6 text-zinc-900">
      <%= @current_user.email %>
    </li>
    <li>
      <.link
        href={~p"/users/settings"}
        class="text-[0.8125rem] leading-6 text-zinc-900 font-semibold hover:text-zinc-700"
      >
        Settings
      </.link>
    </li>
    <li>
      <.link
        href={~p"/users/log_out"}
        method="delete"
        class="text-[0.8125rem] leading-6 text-zinc-900 font-semibold hover:text-zinc-700"
      >
        Log out
      </.link>
    </li>
  <% else %>
    <li>
      <.link
        href={~p"/users/register"}
        class="text-[0.8125rem] leading-6 text-zinc-900 font-semibold hover:text-zinc-700"
      >
        Register
      </.link>
    </li>
    <li>
      <.link
        href={~p"/users/log_in"}
        class="text-[0.8125rem] leading-6 text-zinc-900 font-semibold hover:text-zinc-700"
      >
        Log in
      </.link>
    </li>
  <% end %>
</ul>
<header class="px-4 sm:px-6 lg:px-8">
  <div class="flex items-center justify-between border-b border-zinc-100 py-3">
    <div class="flex items-center gap-4">
      <a class="text-5xl md:hidden" href={~p"/organizer"}>🦺</a>
      <a class="text-5xl max-md:hidden" href={~p"/organizer"}>🦺🗑🌁 Clean Up the City!</a>
    </div>
    <div class="flex items-center gap-4">
      <a
        href={~p"/organizer/cleanups"}
        class="text-[0.8125rem] font-semibold leading-6 text-zinc-900 hover:text-zinc-700"
      >
        Cleanups
      </a>
      <a
        href={~p"/organizer/events"}
        class="text-[0.8125rem] font-semibold leading-6 text-zinc-900 hover:text-zinc-700"
      >
        Events
      </a>
      <a
        href={~p"/organizer/promotions"}
        class="text-[0.8125rem] font-semibold leading-6 text-zinc-900 hover:text-zinc-700"
      >
        Promotions
      </a>
    </div>
  </div>
</header>
<main class="px-4 py-20 sm:px-6 lg:px-8">
  <div class="mx-auto max-w-2xl">
    <.flash_group flash={@flash} />
    <%= @inner_content %>
  </div>
</main>
